
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}
  main{
    width: 1000px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    .sec1{
      padding: 100px 10px 250px 10px;
      background-image: url(../imagenes/backgrounds/background1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      div{
        margin: 30px;
        padding: 15px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        p{
          text-align: justify;
          color: white;
          margin: 10px;
          padding-bottom: 20px;
          font-family: 'Roboto Condensed', sans-serif;
          line-height: 20px;
          letter-spacing: 2px;
        }
        a{
          text-decoration: none;
          border-style: solid;
          padding: 5px 20px;
          text-transform: uppercase;
          color: white;
          font-weight: bold;
          letter-spacing: 2px;
          font-family: 'Righteous', cursive;
          transition: background 0.7s;
          transition: color 0.5s;
          &:hover{
            background: white;
            color: black;
          }
        }

      }
    }
    h2{
      padding: 50px 0px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Righteous', cursive;
      letter-spacing: 6px;
      
    }
    h3{
      padding: 10px 0px;
      margin-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Inika', serif;
      letter-spacing: 1px;
      font-size: 20px;
    }
    h4{
      
      text-transform: uppercase;
      padding: 10px;
      font-family: 'Inika', serif;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 4px;
    }
    .sec2{
      width: 1000px;
      margin: auto;
      color:white;
     
      
      .pers1{
      
        background-image: url(../imagenes/backgrounds/background2.jpg);
        background-size: cover;
        ul{
          display: flex;
          flex-flow: row wrap;
          padding: 10px;
          margin: 0;
          li{
            width: 45%;
            margin: 21px 24px;
            background-color: rgba(0, 0, 0, 0.7);
            img{
              border: solid transparent;
              transition: border 0.5s;
              &:hover{
                border: solid #811872;
              }
            }
            p{
              padding: 20px 30px;
              text-align: justify;
              font-family: 'Roboto Condensed', sans-serif;
              letter-spacing: 2px;
              line-height: 20px;
              font-size: 14px;
            }
          }
        }
      }
      .pers2{
        background-image: url(../imagenes/backgrounds/background3.jpg);
        background-position-x: center;
        background-repeat: none;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 1000px;
        background-position-y: center;
      h2{
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0;
        padding-top: 10px;
      }
        
        
        .carousel{
          width: 100%;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.7);
          .carousel-indicators{
            padding-bottom: 10px;
            .active{
              background-color: #ca1faf;
            }
          }
          
          .carousel-inner{
            
            .carousel-item{

              text-align: center;
              img{
                border-radius: 100%;
                padding: 5px;
                border: solid transparent;
                transition: border 0.5s;
                &:hover{
                  border: solid white;
                }
              }
                p{
                  text-align: justify;
                  padding: 30px 120px 64px 120px;
                  font-family: 'Roboto Condensed', sans-serif;
                  letter-spacing: 2px;
                  line-height: 22px;
                  font-size: 15px;
                }
            }
          }
        }
      }
    }
    .sec3{
      color:  white;
      margin: 0;
      background-color: rgb(68, 12, 59);
        ul{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          align-items: center;
        
          li{
            display: flex;
            flex-flow: column wrap;
            margin-bottom: 15px;

            iframe{
              @include box-shadow(6px, 7px, 8px, #0c0c0c);
            }
          }
        }
      }
    .sec4{
      color:  Black;
      text-align: center;
      background-color: white;
      #myImg1, #myImg2,#myImg3,#myImg4,#myImg5,#myImg6,#myImg7,#myImg8,#myImg9 {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    &:hover{opacity: 0.7;}

    }
        .container{
        
          display: flex;
          flex-flow:row wrap;
          justify-content: space-between;
          align-items: center;
          //align-content: c;
          
          .image{ 
            flex-basis: 33.333%;
            padding: 10px;
            //overflow: hidden;
            //box-shadow: 6px 7px 8px #6d5f6ade;
          img{
            width: 100%;
            @include box-shadow(6px, 7px, 8px, rgb(97, 94, 94));
              border: solid transparent;
              transition: border 0.5s;
              &:hover{
                border: solid #811872;
              }
            }
          }
        }
        }
      
    }      
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#page2
{
  main{
    color: white;
    align-content: center;
    padding: 20px;
    table{
      width: 90%;
      margin: auto;
      border-style: none;
      tr{
        th{
          font-family: 'Righteous', cursive;
          letter-spacing: 4px;
          font-size: 19px;
          padding: 5px;
          border-style: dotted;
          border-color: rgb(131, 22, 113);
          border-width: 5px;
        }
        td{
          font-family: 'Roboto Condensed', sans-serif;
          letter-spacing: 1px;
          font-size: 16px;
          padding: 4px;
          border-style: dotted;
          border-color: rgb(117, 104, 115);
          border-width: 5px;
        }
        &:hover{
          th{background-color: black;}
          background-color: rgb(131, 22, 113);
          
        }
      }
    }

  }
}