
    #navbar{
      background-color: rgb(34, 32, 32);
      padding: 9px;
      z-index: 99;
      ul{
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        li{
          a{
            
            color: white;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Righteous', cursive;
            letter-spacing: 2px;
            padding: 9px;
            transition: padding 0.5s;
            &:hover{
              background-color: white;
              color: rgb(34, 32, 32);
              text-decoration: none;
              padding: 20px 9px;
            }
          }
        }
      }
    }
    .sticky{
      position: fixed;
      top: 0;
      width: 100%
    }
    .content {
      padding: 16px;
    }

    .sticky + .content {
      padding-top: 200px;
    }